<template>
  <dialog-layout :title="$t('title')" @close="closeDialog">

    <!-- Stepper -->
    <q-stepper
      v-model="panel"
      animated
      flat
      header-nav
      :contracted="$q.screen.xs"
      >

      <q-step name="oils" :title="$t('oils')" prefix="H" :done="oilsDone">
        <oils-pane
          ref="oilsPane"
          v-model="oilsPaneData"
          :receipe="receipe"
          />
      </q-step>

     <q-step name="additions" :title="$t('additions')" prefix="A" :done="additionsDone" :header-nav="oilsDone">
        <additions-pane
          ref="additionsPane"
          v-model="additionsPaneData"
          :receipe="receipe"
          :totalOilsWeight="totalOilsWeight"
          />
      </q-step>

      <q-step name="lye" :title="$t('lye')" prefix="S" :done="lyeDone" :header-nav="additionsDone">
        <lye-pane
          ref="lyePane"
          v-model="lyePaneData"
          :receipe="receipe"
          :oilsWeights="oilsPaneData.oilsWeights"
          :superfatting="totalSuperfatting"
          />
      </q-step>

      <q-step name="report" :title="$t('report')" prefix="R" :header-nav="lyeDone">
        <report-pane
          ref="reportPane"
          v-model="reportPaneData"
          :receipe="receipe"
          />
      </q-step>

    </q-stepper>

    <!-- FAB -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn round color="accent" :icon="fabIcon" @click="onFABClicked"/>
    </q-page-sticky>

  </dialog-layout>
</template>

<script>
import { round } from 'src/tools/helpers'

import Dialog from 'src/tools/Dialog'

import SaveOnCloseDialog from './BatchCreator/SaveOnCloseDialog'
import OilsPane from './BatchCreator/OilsPane'
import AdditionsPane from './BatchCreator/AdditionsPane'
import LyePane from './BatchCreator/LyePane'
import ReportPane from './BatchCreator/ReportPane'

export default {
  name: 'BatchCreatorDialog',

  mixins: [Dialog],

  components: {
    OilsPane,
    AdditionsPane,
    LyePane,
    ReportPane
  },

  props: {
    id: String
  },

  data () {
    const now = new Date()
    const receipe = this.$store.getters['base/receipe'](this.id)

    return {
      saved: true,
      panel: 'oils',
      oilsDone: false,
      additionsDone: false,
      lyeDone: false,

      totalOilsWeight: 0,
      totalSuperfatting: 0,

      // Oils data from OilsPane component, updated using v-model
      oilsPaneData: {
        oilsWeights: receipe.oils.map(item => 0)
      },

      // Additions data from AdditionsPane component, updated using v-model
      additionsPaneData: {
        oils: receipe.additions.oils.map(item => 0),
        others: receipe.additions.others.map(item => 0)
      },

      // Lye data from LyePane component, updated using v-model
      lyePaneData: {
        lyeType: 'solution',
        reduction: 0,
        lyeConcentration: 30.5,
        lyeWaterRatio: 2.3,
        waterOilsPercentage: 40
      },

      // Report data from LyePane component, updated using v-model
      reportPaneData: {
        name: `${receipe.name} - ${now.toLocaleDateString()}`,
        soapsCount: 0,
        notes: ''
      }
    }
  },

  computed: {
    receipe () { return this.$store.getters['base/receipe'](this.id) },
    fabIcon () { return 'navigate_next' }
  },

  watch: {
    oilsPaneData () {
      this.saved = false

      this.oilsDone = false
      this.additionsDone = false
      this.lyeDone = false
    },

    additionsPaneData () {
      this.saved = false

      this.additionsDone = false
      this.lyeDone = false
    },

    lyePaneData () {
      this.saved = false
    },

    reportPaneData () {
      this.saved = false
    },

    totalOilsWeight (value) {
      const oils = this.receipe.additions.oils.map(({ percentage }) => round(this.totalOilsWeight * percentage / 100))
      const others = this.receipe.additions.others.map(({ percentage }) => round(this.totalOilsWeight * percentage / 100))
      this.additionsPaneData = { oils, others }
    }
  },

  methods: {

    async onCloseDialog () {
      return new Promise(resolve => {
        if (this.saved) {
          resolve(true)
        } else {
          this.$q.dialog({
            component: SaveOnCloseDialog,
            parent: this,
            batchName: this.reportPaneData.name,
            saveBatch: this.saveBatch,
            cancel: true,
            persistent: true
          }).onOk(() => {
            resolve(true)
          }).onCancel(() => {
            resolve(false)
          })
        }
      })
    },

    onFABClicked () {
      if (this.panel === 'oils' && this.$refs.oilsPane.validate()) {
        this.oilsDone = true
        this.totalOilsWeight = this.oilsPaneData.oilsWeights.reduce((acc, value) => acc + value, 0)
        this.panel = 'additions'
      } else if (this.panel === 'additions' && this.$refs.additionsPane.validate()) {
        this.additionsDone = true
        const superfattingWeight = this.additionsPaneData.oils.reduce((acc, value) => acc + value, 0)
        this.totalSuperfatting = round(superfattingWeight * 100 / this.totalOilsWeight)
        this.panel = 'lye'
      } else if (this.panel === 'lye' && this.$refs.lyePane.validate()) {
        this.lyeDone = true
        this.panel = 'report'
      }
    },

    saveBatch (name) {
      console.log(`saving batch ${name}`)

      const oils = this.receipe.oils.map(({ oil }, idx) => {
        return {
          oil,
          weight: this.oilsPaneData.oilsWeights[idx]
        }
      })

      const superfattingOils = this.receipe.additions.oils.map(({ oil }, idx) => {
        return {
          oil,
          weight: this.additionsPaneData.oils[idx]
        }
      })

      const otherAdditions = this.receipe.additions.others.map(({ name }, idx) => {
        return {
          name,
          weight: this.additionsPaneData.others[idx]
        }
      })

      const lye = {
        type: this.lyePaneData.type
      }

      const batch = {
        receipe: this.id,
        name: this.reportPaneData.name,
        notes: this.reportPaneData.notes,
        oils,
        superfattingOils,
        otherAdditions,
        lye
      }

      this.$store.dispatch('base/addBatch', batch)
    }

  }
}
</script>

<i18n>
en:
  title: New batch
  additions: Additions
  lye: Lye
  report: Report

fr:
  title: Nouvelle tournée
  additions: Ajouts
  lye: Soude
  report: Rapport
</i18n>
