<template>
  <dialog-layout :title="title" @close="closeDialog">

    <!-- Stepper -->
    <q-stepper
      v-model="panel"
      flat
      header-nav
      :contracted="$q.screen.xs"
      >

      <q-step name="compositor" :title="$t('pane.compositor')" prefix="B" :done="compositionDone">
        <compositor-pane ref="compositor" v-model="soapPasteData"/>
      </q-step>

      <q-step name="addition" :title="$t('pane.addition')" prefix="A" :header-nav="compositionDone">
        <addition-pane ref="addition" v-model="additionsData"/>
      </q-step>

      <q-step name="general" :title="$t('pane.general')" prefix="G" :header-nav="compositionDone">
        <general-pane ref="general" v-model="generalData"/>
      </q-step>
    </q-stepper>

    <!-- FAB -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn round color="accent" :icon="fabIcon" @click="onFABClicked"/>
    </q-page-sticky>
  </dialog-layout>
</template>

<script>
import Dialog from 'src/tools/Dialog'

import CompositorPane from './ReceipeEditor/CompositorPane'
import AdditionPane from './ReceipeEditor/AdditionPane'
import GeneralPane from './ReceipeEditor/GeneralPane'

export default {
  name: 'ReceipeEditorDialog',

  mixins: [Dialog],

  components: {
    CompositorPane,
    AdditionPane,
    GeneralPane
  },

  props: {
    id: String
  },

  data () {
    const res = this.id ? this.dataEdit() : this.dataNew()

    return {
      saved: true,
      panel: 'compositor',
      ...res
    }
  },

  computed: {
    title: function () {
      if (this.id) {
        const receipe = this.$store.getters['base/receipe'](this.id)
        return this.$t('receipe.edit', { name: receipe.name })
      } else {
        return this.$t('receipe.new')
      }
    },

    compositionDone () {
      return this.soapPasteData.oils !== null && this.soapPasteData.oils.length > 0
    },

    fabIcon () {
      switch (this.panel) {
        case 'general': return 'save'
        default: return 'navigate_next'
      }
    }
  },

  watch: {
    soapPasteData () {
      this.saved = false
    },
    generalData () {
      this.saved = false
    },
    additionsData () {
      this.saved = false
    }
  },

  methods: {
    async onCloseDialog () {
      return new Promise(resolve => {
        if (this.saved) {
          resolve(true)
        } else {
          this.$q.dialog({
            title: this.$t('closeDialog.title'),
            message: this.$t('closeDialog.message'),
            cancel: true,
            persistent: true
          }).onOk(() => {
            resolve(true)
          }).onCancel(() => {
            resolve(false)
          })
        }
      })
    },

    oil (oilId) {
      return this.$store.getters['base/oil'](oilId)
    },

    onFABClicked () {
      if (this.panel === 'compositor' && this.$refs.compositor.validate()) {
        this.panel = 'addition'
      } else if (this.panel === 'addition' && this.$refs.addition.validate()) {
        this.panel = 'general'
      } else if (this.panel === 'general' && this.$refs.general.validate()) {
        this.saveReceipe()
      }
    },

    dataNew () {
      return {
        soapPasteData: {
          oils: []
        },
        generalData: {
          name: '',
          note: ''
        },
        additionsData: {
          oils: [],
          others: []
        }
      }
    },

    dataEdit () {
      const receipe = this.$store.getters['base/receipe'](this.id)
      const oils = receipe.oils.map(item => Object.assign({}, item, { oil: this.oil(item.oil) }))

      return {
        soapPasteData: {
          oils: oils
        },
        generalData: {
          name: receipe.name,
          note: receipe.note
        },
        additionsData: {
          oils: receipe.additions.oils.map(item => Object.assign({}, item, { oil: this.oil(item.oil) })),
          others: receipe.additions.others
        }
      }
    },

    saveReceipe () {
      const action = this.id ? 'base/updateReceipe' : 'base/addReceipe'
      const receipe = {
        name: this.generalData.name,
        note: this.generalData.note,
        oils: this.soapPasteData.oils.map(({ oil, ratio }) => ({ oil: oil.id, ratio: ratio })),
        additions: {
          oils: this.additionsData.oils.map(({ oil, percentage }) => ({ oil: oil.id, percentage })),
          others: [...this.additionsData.others]
        }
      }

      this.$store.dispatch(action, receipe).then(() => {
        const msg = this.id ? this.$t('snackbar.updated') : this.$t('snackbar.created')
        const icon = this.id ? 'edit' : 'add'

        this.$q.notify({
          message: msg,
          caption: receipe.name,
          icon: icon
        })

        this.saved = true
        this.closeDialog()
      })
    }
  }
}
</script>

<i18n>
en:
  receipe:
    new: New receipe
    edit: Edit receipe {name}
  pane:
    compositor: Base
    general: General
    addition: Addition
  snackbar:
    created: New receipe created
    updated: Receipe updated
  closeDialog:
    title: Confirm
    message: The receipe has been modified, are you sure your want to exit without saving ?

fr:
  receipe:
    new: Nouvelle recette
    edit: Editer la recette {name}
  pane:
    compositor: Base
    general: Général
    addition: Ajouts
  snackbar:
    created: Nouvelle recette créée
    updated: Recette mise à jour
  closeDialog:
    title: Confirmer
    message: La recette a été modifiée, êtes vous sûr de vouloir quitter sans sauvegarder ?
</i18n>
