<template>
  <dialog-layout :title="$t('settings')" @close="closeDialog">

    <!-- UI section -->
    <custom-section :title="$t('uiTitle')" class="column q-my-md">
        <q-select
          v-model="lang"
          :options="langOptions"
          :label="$t('language')"
          dense
          borderless
          emit-value
          map-options
          options-dense
          style="min-width: 150px"
          />

      <q-btn no-wrap :label="$t('resetInfoBanners')" @click="resetInfoBanners"/>
    </custom-section>

    <!-- Data section -->
    <custom-section :title="$t('dataTitle')" class="column q-my-md">
      <q-btn no-wrap :label="$t('exportData')" @click="exportData"/>
      <div class="row no-wrap q-my-md">
        <q-file v-model="importFile"
          outlined
          dense
          :label="$t('dataFile')"
          class="q-mr-md"
          />
        <q-btn no-wrap :disabled="importFile === null" :label="$t('importData')" @click="importData"/>
      </div>
      <q-btn no-wrap :label="$t('deleteData')" @click="deleteData"/>
    </custom-section>
  </dialog-layout>
</template>

<script>
import { exportFile } from 'quasar'

import Dialog from 'src/tools/Dialog'
import DB from 'src/tools/DB'

export default {
  name: 'SettingsDialog',

  mixins: [Dialog],

  data () {
    return {
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en', label: 'English' },
        { value: 'fr', label: 'Français' }
      ],
      importFile: null
    }
  },

  watch: {
    lang (lang) {
      this.$root.$i18n.locale = lang
      this.$store.dispatch('base/updateOilsTranslations', key => this.$t(key))
    }
  },

  methods: {
    resetInfoBanners () {
      this.$q.dialog({
        title: this.$t('resetDialog.title'),
        message: this.$t('resetDialog.message'),
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$store.dispatch('ui/resetInfoBanners')
        this.$q.notify(this.$t('snackbars.infoBannersReset'))
      })
    },

    importData () {
      if (this.importFile) {
        const reader = new FileReader()
        reader.onload = (e) => {
          const content = e.target.result
          const json = JSON.parse(content)

          DB.importDb(json).then(() => {
            this.$store.dispatch('base/initStore', key => this.$t(key)).then(() => {
              this.importFile = null
              this.$q.notify(this.$t('snackbars.dataImported'))
            })
          })
        }

        reader.readAsText(this.importFile)
      }
    },

    exportData () {
      DB.exportDb().then((json) => {
        const status = exportFile('SoapCreator.json', json)

        if (status) {
          this.$q.notify(this.$t('snackbars.dataExported'))
        } else {
          this.$q.notify(this.$t('snackbars.dataExportError'))
        }
      })
    },

    deleteData () {
      this.$q.dialog({
        title: this.$t('deleteDialog.title'),
        message: this.$t('deleteDialog.message'),
        cancel: true,
        persistent: true
      }).onOk(() => {
        DB.deleteDb().then(() => {
          this.$store.dispatch('base/initStore').then(() => {
            this.$q.notify(this.$t('snackbars.dataDeleted'))
          })
        })
      })
    }
  }
}
</script>

<i18n>
en:
  dataTitle: Data management
  importData: Import data
  exportData: Export data
  deleteData: Delete data
  dataFile: Data file
  uiTitle: User interface
  language: Language
  resetInfoBanners: Reset info banners visibility
  resetDialog:
    title: Confirm
    message: Do you want to reset the info banners ?
  deleteDialog:
    title: Confirm
    message: Do you want to delete all the data ?
  snackbars:
    infoBannersReset: Bannières d'information remise à zéro
    dataExported: Data exported
    dataExportError: Error exporting data
    dataDeleted: Data deleted
    dataImported: Data imported

fr:
  dataTitle: Gestion des données
  importData: Importer les données
  exportData: Exporter les données
  deleteData: Supprimer les données
  dataFile: Fichier de données
  uiTitle: Interface utilisateur
  language: Langue
  resetInfoBanners: Réinitialiser les bannières d'information
  resetDialog:
    title: Confirmer
    message: Voulez vous réinitialiser les bannières d'information ?
  deleteDialog:
    title: Confirmer
    message: Voulez vous supprimer toutes les données ?
  snackbars:
    infoBannersReset: Bannières d'information réinitialisées
    dataExported: Données exportées
    dataExportError: Erreur lors de l'export des données
    dataDeleted: Données supprimées
    dataImported: Données importées
</i18n>
