<template>
  <div>

    <!-- Oils additions for superfatting -->
    <custom-section :title="$t('superfatting.title')">
      <empty v-if="receipe.additions.oils.length === 0" :text="$t('superfatting.empty')"/>
      <div
        v-else
        v-for="(item, idx) in receipe.additions.oils"
        :key="idx"
        class="row items-center q-my-xs"
        >
        <span>{{ oil(item.oil).name }}</span>

        <input-weight
          class="q-mx-md"
          :value="data.oils[idx]"
          @input="updateOilWeight(idx, $event)"
          />

        <input-percentage readonly :value="oilPercentage(idx)"/>
      </div>
      <div v-if="receipe.additions.oils.length !== 0" class="text-caption">{{ $t('superfatting.total', { value: totalSuperfatting }) }}</div>
    </custom-section>

    <!-- Other products -->
    <custom-section :title="$t('others.title')" class="q-mt-md">
      <empty v-if="receipe.additions.others.length === 0" :text="$t('others.empty')"/>
      <div
        v-else
        v-for="(other, idx) in receipe.additions.others"
        :key="idx"
        class="row items-center q-my-xs"
        >
        <span>{{ other.name }}</span>

        <input-weight
          debounce="500"
          class="q-mx-md"
          :value="data.others[idx]"
          @input="updateOtherWeight(idx, $event)"
          />

        <input-percentage readonly :value="otherPercentage(idx)"/>
      </div>

    </custom-section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { round } from 'src/tools/helpers'
import WizardPane from 'src/tools/WizardPane'

import InputWeight from 'components/InputWeight'
import InputPercentage from 'components/InputPercentage'

export default {
  name: 'AdditionsPane',

  mixins: [WizardPane],

  components: { InputPercentage, InputWeight },

  props: {
    receipe: Object,
    totalOilsWeight: Number
  },

  computed: {
    ...mapGetters({ oil: 'base/oil' }),
    oilPercentage () { return idx => round(this.data.oils[idx] * 100 / this.totalOilsWeight) },
    otherPercentage () { return idx => round(this.data.others[idx] * 100 / this.totalOilsWeight) },

    totalSuperfatting () {
      const totalWeight = this.data.oils.reduce((acc, weight) => acc + weight, 0)
      return round(totalWeight * 100 / this.totalOilsWeight)
    }
  },

  methods: {
    updateOilWeight (idx, value) {
      this.updateListItem('oils', idx, parseFloat(value))
    },

    updateOtherWeight (idx, value) {
      this.updateListItem('others', idx, parseFloat(value))
    }
  }
}
</script>

<i18n>
en:
  superfatting:
    title: Superfatting
    empty: The receipe doesn't include oils for superfatting
    total: 'Total superfatting: {value}%'
  others:
    title: Other products
    empty: The receipe doesn't include others products as additions

fr:
  superfatting:
    title: Surgraissage
    empty: La recette n'inclue pas d'huiles pour surgraissage
    total: 'Surgraissage total : {value}%'
  others:
    title: Autres produits
    empty: La recette ne contient aucun produits à ajouter
</i18n>
