<template>
  <div>
    <q-option-group
      :value="data.lyeType"
      :options="lyeTypes"
      color="primary"
      class="row no-wrap justify-evenly"
      inline
      @input="updateField('lyeType', $event)"
      >
    </q-option-group>

    <q-tab-panels :value="data.lyeType" animated>

      <!-- Commercial lye solution -->
      <q-tab-panel name="solution" class="column">
        <info-banner id="lyeSolution" :text="$t('lyeSolution.infobanner')"/>

        <description-item :name="$t('lyeSolution.field')" class="items-center q-my-md">
          <input-percentage
            min="1"
            max="50"
            :value="data.lyeConcentration"
            @input="updateNumericField('lyeConcentration', $event)"
            />
        </description-item>

        <span v-if="valid === false" class="caption text-negative q-my-md">{{ $t('validationError') }}</span>

        <lye-reduction-table
          :reduction="data.reduction"
          :oils="oils"
          :superfatting="superfatting"
          :lye="{ type: 'solution', concentration: data.lyeConcentration }"
          @reductionUpdated="updateField('reduction', $event)"
          />
      </q-tab-panel>

      <!-- Water / lye ratio -->
      <q-tab-panel name="waterLyeRatio" class="column">
        <info-banner id="waterLyeRatio" :text="$t('waterLyeRatio.infobanner')"/>

        <description-item :name="$t('waterLyeRatio.field')" class="items-center q-my-md">
          <q-input
            dense
            outlined
            type="number"
            min="1"
            max="5"
            step="0.1"
            class="q-mx-md"
            :value="data.lyeWaterRatio"
            @input="updateNumericField('lyeWaterRatio', $event)"
            />

          <input-percentage
            readonly
            :value="concentration"
            :label="$t('waterLyeRatio.details')"
            />
        </description-item>

        <span v-if="valid === false" class="caption text-negative q-my-md">{{ $t('validationError') }}</span>

        <lye-reduction-table
          :reduction="data.reduction"
          :oils="oils"
          :superfatting="superfatting"
          :lye="{ type: 'waterLyeRatio', waterLyeRatio: data.lyeWaterRatio }"
          @reductionUpdated="updateField('reduction', $event)"
          />
      </q-tab-panel>

      <!-- Water in percentage of oils weight -->
      <q-tab-panel name="waterOilsPercentage">
        <info-banner id="waterOilsPercentage" :text="$t('waterByOilsPercentage.infobanner')"/>

        <description-item :name="$t('waterByOilsPercentage.field')" class="items-center q-my-md">
          <input-percentage
            min="1"
            class="q-mx-md"
            :value="data.waterOilsPercentage"
            @input="updateNumericField('waterOilsPercentage', $event)"
            />

          <input-weight
            readonly
            :value="waterWeight"
            :label="$t('waterByOilsPercentage.details')"
            />
        </description-item>

        <span v-if="valid === false" class="caption text-negative q-my-md">{{ $t('validationError') }}</span>

        <lye-reduction-table
          :reduction="data.reduction"
          :oils="oils"
          :superfatting="superfatting"
          :lye="{ type: 'waterOilsPercentage', waterOilsPercentage: data.waterOilsPercentage }"
          @reductionUpdated="updateField('reduction', $event)"
          />
      </q-tab-panel>

    </q-tab-panels>

  </div>
</template>

<script>
import WizardPane from 'src/tools/WizardPane'
import InputWeight from 'components/InputWeight'
import InputPercentage from 'components/InputPercentage'

import LyeReductionTable from './LyeReductionTable'

export default {
  name: 'LyePane',

  props: {
    data: Object,
    receipe: Object,
    oilsWeights: Array,
    superfatting: Number
  },

  mixins: [WizardPane],

  components: { InputPercentage, InputWeight, LyeReductionTable },

  data () {
    return {
      valid: null
    }
  },

  computed: {
    oils () {
      return this.receipe.oils.map(({ oil }, index) => {
        return { oil, weight: this.oilsWeights[index] }
      })
    },

    totalOilsWeight () {
      return this.oilsWeights.reduce((acc, weight) => acc + weight, 0)
    },

    lyeTypes () {
      return [
        { label: this.$t('lyeSolution.title'), value: 'solution' },
        { label: this.$t('waterLyeRatio.title'), value: 'waterLyeRatio' },
        { label: this.$t('waterByOilsPercentage.title'), value: 'waterOilsPercentage' }
      ]
    },

    concentration () {
      return (100 / (this.data.lyeWaterRatio + 1)).toFixed(1)
    },

    waterWeight () {
      return (this.data.waterOilsPercentage * this.totalOilsWeight / 100).toFixed(1)
    }
  },

  methods: {
    validate () {
      this.valid = this.data.reduction !== 0
      return this.valid
    }
  }
}
</script>

<i18n>
en:
  validationError: You need to choose a lye reduction
  lyeSolution:
    title: Lye solution
    field: Concentration
    infobanner: Use this option when you're working with a commercial lye solution. This is the simplest way to start.
  waterLyeRatio:
    title: Water / lye ratio
    field: Water / lye ratio
    details: Concentration
    infobanner: Use this option when you make the lye solution yourself and want to control the concentration. More water increases the cure time and decreases the trace speed.
  waterByOilsPercentage:
    title: % of oils weights
    field: Percentage of water in oils weight
    details: Water weight
    infobanner: Use this option when you make the lye solution yourself and want to control the quantity of water in the soap paste. More water increases the cure time and decreases the trace speed.

fr:
  validationError: Vous devez choisir une réduction de soude
  lyeSolution:
    title: Solution de soude
    field: Concentration
    infobanner: Utilisez cette option lorsque vous travaillez avec une solution de soude commerciale. C'est la façon la plus simple de démarrer.
  waterLyeRatio:
    title: Ratio eau / soude
    field: Ratio eau / soude
    details: Concentration
    infobanner: Utilisez cette option lorsque vous préparez vous même la solution de soude et que vous souhaitez contrôler la concentration de la solution. Plus d'eau augmente le temps de cure et ralenti la trace
  waterByOilsPercentage:
    title: % en poids des huiles
    field: Pourcentage d'eau en poids des huiles
    details: Poids d'eau
    infobanner: Utilisez cette option lorsque vous préparez vous même la solution de soude et que vous souhaitez contrôler la quantité d'eau dans la pâte à savon. Plus d'eau augmente le temps de cure et ralenti la trace
</i18n>
