<template>
  <q-markup-table dense>
    <thead>
      <tr>
        <th>{{ $t('lyeReduction') }}</th>
        <th>{{ $t('totalSuperfatting') }}</th>
        <th v-if="lye.type === 'solution'">{{ $t('lyeSolutionAmount') }}</th>
        <th v-if="lye.type === 'solution'">{{ $t('waterPercentage') }}</th>

        <th v-if="lye.type === 'waterLyeRatio'">{{ $t('lyeAmount') }}</th>
        <th v-if="lye.type === 'waterLyeRatio'">{{ $t('waterAmount') }}</th>
        <th v-if="lye.type === 'waterLyeRatio'">{{ $t('waterPercentage') }}</th>

        <th v-if="lye.type === 'waterOilsPercentage'">{{ $t('lyeAmount') }}</th>
        <th v-if="lye.type === 'waterOilsPercentage'">{{ $t('concentration') }}</th>
      </tr>
    </thead>

    <tbody>
      <tr
        v-for="i in possibleReductions"
        :key="i"
        :class="rowClass(i)"
        @click="$emit('reductionUpdated', i)"
        >
        <td>{{ i }} %</td>
        <td>{{ totalSuperfatting(i) }} %</td>

        <td v-if="lye.type === 'solution'">{{ naohSolution(i).solutionWeight }} g</td>
        <td v-if="lye.type === 'solution'">{{ naohSolution(i).waterOilsPercentage }} %</td>

        <td v-if="lye.type === 'waterLyeRatio'">{{ waterLyeRatio(i).lyeWeight}} g</td>
        <td v-if="lye.type === 'waterLyeRatio'">{{ waterLyeRatio(i).waterWeight}} g</td>
        <td v-if="lye.type === 'waterLyeRatio'">{{ waterLyeRatio(i).waterOilsPercentage}} %</td>

        <td v-if="lye.type === 'waterOilsPercentage'">{{ waterOilsPercentage(i).lyeWeight }} g</td>
        <td v-if="lye.type === 'waterOilsPercentage'">
          {{ waterOilsPercentage(i).concentration }} %
          <q-icon v-if="waterOilsPercentage(i).concentration > 50" name="error" color="negative" size="xs"/>
        </td>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<style scoped>
td {
  text-align: center
}
</style>

<script>
import { round } from 'src/tools/helpers'

export default {
  name: 'LyeReductionTable',

  model: {
    prop: 'reduction',
    event: 'reductionUpdated'
  },

  props: {
    oils: Array,
    lye: Object,
    reduction: Number,
    superfatting: Number
  },

  computed: {
    possibleReductions () { return [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] },

    rowClass () {
      return (i) => {
        const superfatting = this.totalSuperfatting(i)

        if (i === this.reduction) {
          return 'bg-purple-4'
        } else if (superfatting < 5) {
          return 'bg-red-2'
        } else if (superfatting < 8) {
          return 'bg-yellow-2'
        } else if (superfatting < 11) {
          return 'bg-green-2'
        } else {
          return 'bg-blue-2'
        }
      }
    },

    oilsWeight () {
      return this.oils.reduce((acc, item) => acc + item.weight, 0)
    },

    totalSuperfatting () {
      return (i) => {
        return i + this.superfatting
      }
    },

    naohSolution () {
      return (i) => {
        const lyeWeight = this.lyeWeight(i)
        const waterWeight = (100 - this.lye.concentration) / this.lye.concentration * lyeWeight
        const solutionWeight = waterWeight + lyeWeight

        return {
          lyeWeight: round(lyeWeight),
          solutionWeight: round(solutionWeight),
          waterOilsPercentage: round(waterWeight * 100 / this.oilsWeight)
        }
      }
    },

    waterLyeRatio () {
      return (i) => {
        const lyeWeight = this.lyeWeight(i)
        const waterWeight = this.lye.waterLyeRatio * lyeWeight

        return {
          lyeWeight: round(lyeWeight),
          waterWeight: round(waterWeight),
          concentration: round(100 / (this.lye.waterLyeRatio + 1)),
          waterOilsPercentage: round(waterWeight * 100 / this.oilsWeight)
        }
      }
    },

    waterOilsPercentage () {
      return (i) => {
        const lyeWeight = this.lyeWeight(i)
        const waterWeight = this.lye.waterOilsPercentage * this.oilsWeight / 100

        return {
          lyeWeight: round(lyeWeight),
          concentration: round(lyeWeight * 100 / (lyeWeight + waterWeight))
        }
      }
    }

  },

  methods: {
    lyeWeight (reduction) {
      const lyeReductionRatio = (100 - reduction) / 100
      const lyeWeight = this.oils.reduce((acc, item) => {
        return acc + (this.$store.getters['base/oil'](item.oil).sap * item.weight * lyeReductionRatio / 1.403)
      }, 0)

      return lyeWeight
    }
  }

}
</script>

<i18n>
en:
  lyeReduction: Lye reduction
  totalSuperfatting: Total superfatting
  lyeSolutionAmount: Lye solution amount
  waterPercentage: Water percentage
  lyeAmount: Lye amount
  waterAmount: Water amount
  concentration: Concentration

fr:
  lyeReduction: Réduction de soude
  totalSuperfatting: Surgraissage total
  lyeSolutionAmount: Quantité de lessive de soude
  waterPercentage: Pourcentage d'eau
  lyeAmount: Quantité de soude
  waterAmount: Quantité d'eau
  concentration: Concentration
</i18n>
