<template>
  <div>
    <custom-section :title="$t('soapPaste')">

      <!-- Input total weight, forces update of other fields -->
      <div class="row items-baseline">
        <span class="q-mr-md">{{ $t('totalOilsWeight') }}</span>
        <input-weight
          ref="totalWeight"
          :value="totalWeight"
          :rules="[ value => value > 0 || this.$t('nonNulTotal') ]"
          @input="updateTotalWeight"
          />
      </div>

      <!-- Input weight for each oil -->
      <div
        v-for="(item, idx) in oils"
        :key="idx"
        class="row items-center q-my-xs"
        >

        <span>{{ oil(item.oil).name }}</span>

        <input-weight
          class="q-mx-md"
          :value="data.oilsWeights[idx]"
          @input="updateOilWeight(idx, $event)"
          />

        <input-percentage readonly :value="ratios[idx]"/>
      </div>
    </custom-section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { round } from 'src/tools/helpers'
import WizardPane from 'src/tools/WizardPane'

import InputWeight from 'components/InputWeight'
import InputPercentage from 'components/InputPercentage'

export default {
  name: 'OilsPane',

  mixins: [WizardPane],

  props: {
    receipe: Object
  },

  components: {
    InputWeight,
    InputPercentage
  },

  data () {
    return {
      totalWeight: this.data.oilsWeights.reduce((acc, value) => acc + value, 0),
      ratios: this.receipe ? this.receipe.oils.map(({ ratio }) => ratio) : []
    }
  },

  computed: {
    ...mapGetters({ oil: 'base/oil' }),
    oils () { return this.receipe ? this.receipe.oils : [] }
  },

  watch: {
    totalWeight (n, o) {
      if (n !== o) {
        this.data.oilsWeights.forEach((weight, index) => {
          this.ratios[index] = round(weight * 100 / n)
        })
      }
    }
  },

  methods: {
    validate () {
      return this.$refs.totalWeight.validate()
    },

    updateTotalWeight (value) {
      const totalWeight = parseInt(value)

      // Update oils base on their ratio
      const oilsWeights = this.data.oilsWeights.map((weight, index) => {
        return round(parseInt(value) * this.receipe.oils[index].ratio / 100)
      })

      // Make up for rounding errors
      const total = oilsWeights.reduce((acc, weight) => acc + weight, 0)
      if (total !== totalWeight) {
        oilsWeights[0] = oilsWeights[0] + (totalWeight - total)
      }

      this.totalWeight = totalWeight
      this.updateField('oilsWeights', oilsWeights)
    },

    updateOilWeight (index, value) {
      const oilsWeights = this.data.oilsWeights.slice()
      oilsWeights[index] = parseInt(value)
      this.totalWeight = oilsWeights.reduce((acc, weight) => acc + weight, 0)
      this.updateField('oilsWeights', oilsWeights)
    }

  }
}
</script>

<i18n>
en:
  soapPaste: Soap paste
  totalOilsWeight: Total oils weight
  nonNulTotal: Total weight must be positive

fr:
  soapPaste: Pâte à savon
  totalOilsWeight: Poids d'huiles total
  nonNulTotal: Le poids total doit être positif

</i18n>
