<template>
  <div class="column">
    <q-input
      ref="name"
      outlined
      :label="$t('name')"
      :value="data.name"
      :rules="[ value => value !== '' || 'Un nom est requis' ]"
      @input="updateField('name', $event)"
      />

    <q-input
      outlined
      class="q-my-md"
      :value="data.soapsCount"
      :label="$t('soapsCount')"
      @input="updateField('soapsCount', $event)"/>

    <q-input
      outlined
      :value="data.notes"
      type="textarea"
      :label="$t('notes')"
      @input="updateField('notes', $event)"/>
  </div>
</template>

<script>
import WizardPane from 'src/tools/WizardPane'

export default {
  name: 'ReportPane',

  mixins: [WizardPane]
}
</script>

<i18n>
en:
  soapsCount: Soaps count

fr:
  soapsCount: Nombre de savons
</i18n>
