<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="q-dialog__title">
        {{ $t('title') }}
      </q-card-section>

      <q-card-section>
        {{ $t('message') }}
      </q-card-section>

      <q-card-section>
        <q-input
          ref="name"
          dense
          outlined
          v-model="name"
          :label="$t('name')"
          :rules="[ value => value !== '' || $t('nameRequired') ]"
          />
      </q-card-section>

      <!-- buttons example -->
      <q-card-actions align="right">
        <q-btn flat color="primary" :label="$t('cancel')" @click="onCancelClick" />
        <q-btn flat color="primary" :label="$t('ok')" @click="onOKClick" />
        <q-btn flat color="primary" :label="$t('save')" @click="onSaveClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    batchName: String,
    saveBatch: Function
  },

  data () {
    return {
      name: this.batchName
    }
  },

  methods: {

    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },

    onSaveClick () {
      if (this.$refs.name.validate()) {
        this.saveBatch(this.name)
        this.$emit('ok')
        this.hide()
      }
    }
  }
}
</script>

<i18n>
en:
  title: Confirm
  message: The batch has been modified, are your sure your want to exit without saving ?
  name: Name
  nameRequired: A name is required
  cancel: Cancel
  ok: OK
  save: Save

fr:
  title: Confirmer
  message: La tournée a été modifiée, êtes vous sur de vouloir quitter sans sauvegarder ?
  name: Nom
  nameRequired: Un nom est requis
  cancel: Annuler
  ok: OK
  save: Sauvegarder
</i18n>
