<template>
  <div class="column">
    <q-input
      ref="name"
      outlined
      debounce="500"
      :value="data.name"
      :label="$t('name')"
      :rules="[ name => name !== '' || 'Un nom est requis' ]"
      @input="updateField('name', $event)"
      />

    <q-input
      outlined
      debounce="500"
      class="q-mt-lg"
      type="textarea"
      :value="data.note"
      :label="$t('notes')"
      @input="updateField('note', $event)"
      />
  </div>

</template>

<script>
import WizardPane from 'src/tools/WizardPane'

export default {
  name: 'GeneralPane',

  mixins: [WizardPane],

  methods: {
    validate () {
      return this.$refs.name.validate()
    }
  }
}
</script>
