<template>
  <span class="flex row no-wrap items-center q-my-xs">
    <q-btn
      flat
      round
      size="sm"
      color="accent"
      icon="delete"
      @click="$emit('delete')"
      />

    <q-btn
      flat
      round
      size="sm"
      color="accent"
      :icon="locked ? 'mdi-lock' : 'mdi-lock-open-variant'"
      @click="$emit('toggleLock')"
      />

    <q-btn flat class="force-width" @click="$emit('clicked')">{{ item.oil.name }}</q-btn>

    <input-percentage
      class="q-mx-xs"
      :value="item.ratio"
      @input="$emit('updated', $event)"
      />

    <custom-slider
      dense
      :value="item.ratio"
      :min="0"
      :max="100"
      :step="1"
      :preUpdateHook="preUpdateHook"
      label
      label-always
      :label-value="`${item.ratio} %`"
      @input="$emit('updated', $event)"
    />
  </span>

</template>

<script>
import InputPercentage from 'components/InputPercentage'

export default {
  components: { InputPercentage },

  props: {
    item: Object,
    locked: Boolean,
    preUpdateHook: Function
  }
}
</script>
