<template>
  <q-page class="flex row no-wrap grow">
    <portal to="toolbarTitle">{{ $t('batches') }}</portal>

    <!-- List -->
    <div class="grow column col-xs-12 col-sm-3">
      <q-input
        v-model="filter"
        :label="$t('search')"
        debounce="500"
        clearable
        >
        <template v-slot:prepend>
          <q-icon name="search" class="q-ml-sm"/>
        </template>
      </q-input>

      <q-list bordered separator class="grow">
        <q-item
          v-for="(batch, id) in filteredBatches"
          :key="id"
          clickable
          v-ripple
          @click="$router.push(`/batches/${batch.id}`)">
          <q-item-section>
            <q-item-label>{{ batch.name }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>

      <span class="text-caption" style="text-align: center">
        {{ $tc('itemsCount', itemsCount) }}
      </span>
    </div>

    <!-- Empty -->
    <div v-if="Object.keys($route.params).length === 0" class="grow column gt-xs col-sm-9 justify-center items-center">
      <span class="text-h6 q-ma-md">{{ $t('emptyMessage') }}</span>
      <q-btn round color="accent" icon="add" size="large" @click="$router.push('/batch/new')"/>
    </div>

    <!-- Router view -->
    <router-view v-else class="gt-xs col-sm-9 q-pl-md q-pt-md"/>
  </q-page>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BatchesIndex',

  data () {
    return {
      filter: null
    }
  },

  computed: {
    ...mapGetters({ batches: 'base/batches' }),

    itemsCount () {
      return Object.keys(this.filteredBatches).length
    },

    filteredBatches () {
      if (this.filter === null || this.filter === '') {
        return this.batches
      } else {
        const regexp = new RegExp(this.filter, 'i')
        return Object.keys(this.batches).reduce((acc, id) => {
          if (this.batches[id].name.match(regexp)) {
            acc[id] = this.batches[id]
          }

          return acc
        }, {})
      }
    }
  }
}
</script>

<i18n>
en:
  emptyMessage: 'Manage your batches here'

fr:
  emptyMessage: 'Gérer vos tournées ici'
</i18n>
