<template>
  <div class="flex column">

    <!-- Toolbar actions -->
    <portal to="toolbarButtons">
      <toolbar-menu>
        <simple-list-item icon="edit" :title="$t('edit')" @click=";"/>
        <simple-list-item icon="delete" :title="$t('delete')" @click="deleteBatch"/>
      </toolbar-menu>
    </portal>

    <custom-section :title="batch.name">
      <description-item :name="$t('receipe')" class="items-center">
        <q-btn flat :to="`/receipes/${batch.receipe}`">{{ receipe(batch.receipe).name }}</q-btn>
      </description-item>
      <div v-if="batch.notes">
        <span class="text-subtitle2">{{ $t('notes') }}</span>
        <pre>{{ batch.notes }}</pre>
      </div>
    </custom-section>

    <custom-section :title="$t('soapPaste')" class="column">
      <description-item
        v-for="(item, idx) in batch.oils"
        :key="`oil-${idx}`"
        :name="oil(item.oil).name"
        :value="`${item.weight}g`"
        />
    </custom-section>

    <custom-section :title="$t('superfatting')" class="column">
      <description-item
        v-for="(item, idx) in batch.superfattingOils"
        :key="`superfatting-oil-${idx}`"
        :name="oil(item.oil).name"
        :value="`${item.weight}g`"
        />
    </custom-section>

    <custom-section :title="$t('otherAdditions')" class="column">
      <description-item
        v-for="(item, idx) in batch.otherAdditions"
        :key="`other-${idx}`"
        :name="item.name"
        :value="`${item.weight}g`"
        />
    </custom-section>
  </div>
</template>

<script>
import ToolbarMenu from 'components/ToolbarMenu'

export default {
  name: 'BatchDetails',

  components: { ToolbarMenu },

  props: {
    id: String
  },

  computed: {
    batch: function () { return this.$store.getters['base/batch'](this.id) },
    oil: function () {
      return id => this.$store.getters['base/oil'](id)
    },
    receipe: function () {
      return id => this.$store.getters['base/receipe'](id)
    }
  },

  methods: {

    deleteBatch () {
      this.$q.dialog({
        title: this.$t('deleteDialog.title'),
        message: this.$t('deleteDialog.message'),
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$store.dispatch('base/deleteBatch', this.id)
        this.$router.replace('/batches')
      })
    }

  }
}
</script>

<i18n>
</i18n>
