<template>
  <div class="flex column">
    <custom-section :title="oil.name">
      <description-item :name="$t('inci')" class="items-center">
        {{ oil.inci }}
        <q-btn
          flat
          round
          color="accent"
          icon="launch"
          size="sm"
          type="a"
          target="__blank"
          :href="`https://incibeauty.com/search/k/${oil.inci}`"
          />
      </description-item>

      <description-item :name="$t('sap')" :value="oil.sap"/>
      <description-item :name="$t('ins')" :value="oil.ins"/>
      <description-item :name="$t('iodine')" :value="oil.iodine"/>
    </custom-section>

     <custom-section :title="$t('properties')" class="q-mt-md">
      <div class="flex row justify-evenly">
        <soap-qualities-chart class="chart" :composition="oil"/>
        <fatty-acids-chart class="chart" :composition="oil"/>
      </div>
    </custom-section>
  </div>
</template>

<script>
import FattyAcidsChart from 'components/FattyAcidsChart'
import SoapQualitiesChart from 'components/SoapQualitiesChart'

export default {
  name: 'OilDetails',

  components: { FattyAcidsChart, SoapQualitiesChart },

  props: {
    id: String
  },

  computed: {
    oil: function () { return this.$store.getters['base/oil'](this.id) }
  }

}
</script>

<i18n>
en:
  inci: 'INCI'
  sap: 'SAP'
  ins: 'INS'
  iodine: 'Iodine'

fr:
  inci: 'INCI'
  sap: 'SAP'
  ins: 'INS'
  iodine: 'Iodine'
</i18n>
