<template>
  <q-page class="flex row no-wrap grow">
    <portal to="toolbarTitle">{{ $t('oils') }}</portal>
    <oils-list class="grow col-xs-12 col-sm-3" @oilSelected="$router.push(`/oils/${$event.id}`)"/>

    <!-- Empty -->
    <div v-if="Object.keys($route.params).length === 0" class="grow column gt-xs col-sm-9 justify-center items-center">
      <span class="text-h6">{{ $t('emptyMessage') }}</span>
    </div>

    <!-- Router view -->
    <router-view v-else class="gt-xs col-sm-9 q-pl-md q-pt-md"/>
  </q-page>
</template>

<script>
import OilsList from 'components/OilsList'

export default {
  name: 'OilsIndex',

  components: { OilsList }
}
</script>

<i18n>
en:
  emptyMessage: 'Choose an oil to display its properties'

fr:
  emptyMessage: 'Choisissez une huile pour afficher ses caractéristiques'
</i18n>
