<template>
  <q-page class="grow q-px-md">

    <!-- Receipe editor -->
    <custom-section :title="$t('oils')">
      <div>
        <div
          class="text-subtitle"
          v-for="(item, idx) in oils"
          :key="idx"
          >
          <q-btn flat @click="showOilDetails(item.oil)">{{ item.ratio }}% {{ oil(item.oil).name }}</q-btn>
        </div>
      </div>

      <div>
      </div>
    </custom-section>

    <!-- Receipe analysis and reports -->
    <custom-section :title="$t('properties')" class="q-mt-md">
      <div class="flex row justify-evenly">
        <soap-qualities-chart class="chart" :composition="composition"/>
        <fatty-acids-chart class="chart" :composition="composition"/>
      </div>
    </custom-section>

    <!-- Oils overview dialog -->
    <oil-details-dialog v-model="oilDialog.open" :oilId="oilDialog.oil"/>

    <!-- Actions -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab
        icon="expand_less"
        direction="up"
        color="accent"
        vertical-actions-align="right"
        >
        <q-fab-action color="primary" :label="$t('edit')" icon="edit" :to="`/receipe/${id}/edit`" />
        <q-fab-action color="primary" :label="$t('delete')" icon="delete" @click="onDelete" />
        <q-fab-action color="primary" :label="$t('make')" icon="mdi-flask" :to="`/receipe/${id}/make`" />
      </q-fab>
    </q-page-sticky>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

import OilDetailsDialog from 'components/OilDetailsDialog'
import FattyAcidsChart from 'components/FattyAcidsChart'
import SoapQualitiesChart from 'components/SoapQualitiesChart'

export default {
  name: 'ReceipeDetails',

  components: {
    OilDetailsDialog,
    FattyAcidsChart,
    SoapQualitiesChart
  },

  props: {
    id: String
  },

  data () {
    return {
      oilDialog: {
        open: false,
        oil: null
      }
    }
  },

  computed: {
    ...mapGetters({
      fattyAcids: 'base/fattyAcids',
      oil: 'base/oil'
    }),

    receipe: function () {
      return this.$store.getters['base/receipe'](this.id)
    },

    oils: function () {
      return this.receipe ? this.receipe.oils : []
    },

    composition: function () {
      return this.fattyAcids.reduce((comp, { name }) => {
        comp[name] = this.oils.reduce((acc, { oil, ratio }) => {
          const oilDetails = this.oil(oil)
          return acc + (oilDetails[name] * ratio / 100)
        }, 0)

        return comp
      }, {})
    }
  },

  methods: {
    showOilDetails (oil) {
      this.oilDialog.oil = oil
      this.oilDialog.open = true
    },

    onDelete () {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Voulez vous supprimer cette recette ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        const name = this.receipe.name
        this.$store.dispatch('base/deleteReceipe', this.id).then(() => {
          this.$router.replace('/receipes')
          this.$q.notify({
            message: 'Recette supprimée',
            caption: name,
            icon: 'delete'
          })
        })
      })
    }
  }
}
</script>
