<template>
  <q-page class="flex row no-wrap grow">
    <portal to="toolbarTitle">{{ $t('receipes') }}</portal>

    <!-- List -->
    <div class="grow column col-xs-12 col-sm-3">
      <q-input
        v-model="filter"
        :label="$t('search')"
        debounce="500"
        clearable
        >
        <template v-slot:prepend>
          <q-icon name="search" class="q-ml-sm"/>
        </template>
      </q-input>

      <q-list bordered separator class="grow">
        <receipe-list-item
          v-for="(receipe, id) in filteredReceipes"
          :key="id"
          :receipe="receipe"
          @click="$router.push(`/receipes/${id}`)"
          />
      </q-list>

      <span class="text-caption" style="text-align: center">
        {{ $tc('itemsCount', itemsCount) }}
      </span>
    </div>

    <!-- Empty -->
    <div v-if="Object.keys($route.params).length === 0" class="grow column gt-xs col-sm-9 justify-center items-center">
      <span class="text-h6 q-ma-md">{{ $t('emptyMessage') }}</span>
      <q-btn round color="accent" icon="add" size="large" @click="$router.push('/receipe/new')"/>
    </div>

    <!-- Router view -->
    <router-view v-else class="gt-xs col-sm-9 q-pl-md q-pt-md"/>
  </q-page>

</template>

<script>
import { mapGetters } from 'vuex'
import ReceipeListItem from 'components/ReceipeListItem'

export default {
  name: 'ReceipesIndex',

  components: { ReceipeListItem },

  data () {
    return {
      filter: null
    }
  },

  computed: {
    ...mapGetters({ receipes: 'base/receipes' }),

    itemsCount () {
      return Object.keys(this.filteredReceipes).length
    },

    filteredReceipes () {
      if (this.filter === null || this.filter === '') {
        return this.receipes
      } else {
        const regexp = new RegExp(this.filter, 'i')
        return Object.keys(this.receipes).reduce((acc, id) => {
          if (this.receipes[id].name.match(regexp)) {
            acc[id] = this.receipes[id]
          }

          return acc
        }, {})
      }
    }
  }
}
</script>

<i18n>
en:
  emptyMessage: 'Manage your receipes here'

fr:
  emptyMessage: 'Gérer vos recettes ici'
</i18n>
