<template functional>
  <section :class="data.staticClass" v-bind="data.attrs">
    <slot name="title"><span class="q-mb-md text-h6">{{ props.title }}</span></slot>
    <slot></slot>
  </section>
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>
