<template functional>
  <div class="row no-wrap" :class="data.staticClass" v-bind="data.attrs">
    <span class="text-subtitle2 q-mr-sm">{{ props.name }}:</span>
    <slot>
      <span>{{ props.value }}</span>
    </slot>
  </div>
</template>

<script>
export default {
  props: ['name', 'value']
}
</script>
