<template functional>
  <q-banner rounded class="bg-secondary-lightened q-ma-md text-center">
    <slot><span class="text-caption">{{ props.text }}</span></slot>
  </q-banner>
</template>

<script>
export default {
  props: {
    text: String
  }
}
</script>
