<script>
import { Pie } from 'vue-chartjs'
import ChartDataLabels from 'chartjs-plugin-datalabels'

export default {
  name: 'FattyAcidsChart',

  extends: Pie,

  props: {
    composition: Object
  },

  computed: {
    options: function () {
      return {
        animation: false,
        title: {
          display: true,
          text: this.$t('title')
        },
        legend: {
          display: false
        },
        tooltips: {
          callbacks: {
            label: (tooltipItem, data) => {
              const value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]
              return `${data.labels[tooltipItem.index]}: ${Math.round(value)} %`
            }
          }
        },
        plugins: {
          datalabels: {
            color: 'white',
            font: {
              weight: 'bold'
            },
            formatter: function (value, context) {
              return `${Math.round(value)} %`
            }
          }
        }
      }
    },

    chartData: function () {
      var labels = []
      var values = []
      var colors = []

      this.$store.getters['base/fattyAcids'].forEach(({ name, color }) => {
        if (this.composition[name] > 0) {
          labels.push(this.$t(name))
          values.push(this.composition[name])
          colors.push(color)
        }
      })

      return {
        labels: labels,
        datasets: [{
          data: values,
          backgroundColor: colors
        }]
      }
    }
  },

  watch: {
    chartData () {
      this.renderChart(this.chartData, this.options)
    }
  },

  mounted () {
    this.addPlugin(ChartDataLabels)
    this.renderChart(this.chartData, this.options)
  }

}
</script>

<i18n>
en:
  title: 'Composition'

fr:
  title: 'Composition'
</i18n>
