<template>
  <q-banner v-if="visible" rounded class="bg-secondary-lightened">
    <slot><span class="text-caption">{{ text }}</span></slot>
    <template v-slot:action>
      <q-btn flat round size="sm" icon="close" @click="discardInfoBanner"/>
    </template>
  </q-banner>
</template>

<script>
export default {
  props: {
    id: String,
    text: String
  },

  computed: {
    visible () {
      return this.$store.getters['ui/infoBanner'](this.id) === true
    }
  },

  methods: {
    discardInfoBanner () {
      this.$store.dispatch('ui/discardInfoBanner', this.id)
    }
  }
}
</script>
