<template functional>
  <q-item
    clickable
    :active="parent.$route.fullPath.startsWith(props.link)"
    @click="listeners.click">
    <q-item-section v-if="props.icon" avatar>
      <q-icon :name="props.icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ props.title }}</q-item-label>
      <q-item-label v-if="props.caption" caption>
        {{ props.caption }}
      </q-item-label>
    </q-item-section>

    <q-item-section v-if="props.action" side>
      <q-btn round color="accent" size="sm" :icon="props.action.icon" @click.stop="props.action.handler"/>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
}
</script>
