<template>
  <q-dialog class="full-width" :value="dialog" @input="$emit('dialogStateChanged', $event)">
    <q-card>

      <!-- Header -->
      <q-toolbar>
        <q-icon name="mdi-water" size="xl" color="secondary"/>
        <q-toolbar-title class="text-h5">{{ $t('title') }}</q-toolbar-title>
        <q-btn flat round dense icon="close" v-close-popup />
      </q-toolbar>

      <q-card-section>
        <oil-details :id="oilId"/>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import OilDetails from 'pages/OilDetails'

export default {
  name: 'OilDetailsDialog',

  model: {
    prop: 'dialog',
    event: 'dialogStateChanged'
  },

  props: {
    dialog: Boolean,
    oilId: String
  },

  components: { OilDetails }

}
</script>

<i18n>
en:
  title: Oil details

fr:
  title: Détails de l'huile
</i18n>
