<template functional>
  <q-item clickable @click="listeners.click">
    <q-item-section>
      <q-item-label>{{ props.oil.name }}</q-item-label>
      <q-item-label caption>INCI: {{ props.oil.inci }}</q-item-label>
      <q-item-label class="row inline color-bar">
        <span
          v-for="({ value, color }, idx) in props.bars"
          :key="idx"
          :style="`flex-grow: ${value}; background-color: ${color}`"
          />
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  props: {
    oil: Object,
    bars: Array
  }
}
</script>
