<template>
  <q-dialog :value="dialog" @input="$emit('dialogStateChanged', $event)">
    <q-card class="bigDialog grow column">

      <!-- Header -->
      <q-toolbar>
        <q-icon name="mdi-water" size="xl" color="secondary"/>
          <q-toolbar-title>{{ $t('title') }}</q-toolbar-title>
        <q-btn flat round dense icon="close" v-close-popup />
      </q-toolbar>

      <!-- List -->
      <q-card-section class="grow column">
        <oils-list @oilSelected="onSelected"/>
      </q-card-section>

    </q-card>
  </q-dialog>

</template>

<style scoped>
.bigDialog {
  width: 80vw;
  height: 80vh;
}
</style>

<script>
import OilsList from 'components/OilsList'

export default {
  name: 'OilPickerDialog',

  model: {
    prop: 'dialog',
    event: 'dialogStateChanged'
  },

  props: {
    dialog: Boolean
  },

  components: { OilsList },

  methods: {
    onSelected (oil) {
      this.$emit('dialogStateChanged', false)
      this.$emit('selected', oil)
    }
  }
}
</script>

<i18n>
en:
  title: 'Choose an oil'

fr:
  title: 'Choisissez une huile'
</i18n>
