<template>
  <div class="grow column">
    <q-input
      v-model="filter"
      :label="$t('search')"
      debounce="500"
      clearable
      >

      <!-- Legend -->
      <template v-slot:prepend>
        <q-icon name="info_outline" class="q-ml-sm">
          <q-tooltip>
            <div
              v-for="(acid, idx) in fattyAcids"
              :key="idx"
              class="row no-wrap items-center"
              >
              <div class="q-mr-xs color-bullet" :style="`background-color: ${acid.color}`"> </div>
              <span>{{ $t(acid.name) }}</span>
            </div>
          </q-tooltip>
        </q-icon>
        <q-icon name="search"/>
      </template>

      <!-- Filters -->
      <template v-slot:append>
        <q-btn flat round icon="sort">
          <q-menu auto-close>
            <q-list dense>
              <q-item clickable>
                <q-item-section @click="sorter = null">{{ $t('none') }}</q-item-section>
              </q-item>
              <q-item
                clickable
                v-for="(acid, idx) in fattyAcids"
                :key="idx"
                @click="sorter = acid.name"
                >
                <q-item-section>
                  <div class="row no-wrap items-center">
                    <span class="q-mr-xs color-bullet" :style="`background-color: ${acid.color}`"></span>
                    <span>{{ $t(acid.name) }}</span>
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </template>
    </q-input>

    <!-- List -->
    <q-list class="grow overflow-auto" style="flex-basis: 0" bordered separator>
      <oil-list-item
        v-for="(oil, idx) in sortedOils"
        :key="idx"
        :oil="oil"
        :bars="bars(oil)"
        :highlight-acid="sorter"
        @click="$emit('oilSelected', oil)"
        />
    </q-list>

    <span class="text-caption" style="text-align: center">
      {{ $tc('itemsCount', itemsCount) }}
    </span>

  </div>
</template>

<style>
.color-bullet {
  width: 10px;
  height: 10px;
}
</style>

<script>
import { mapGetters } from 'vuex'

import OilListItem from 'components/OilListItem'

export default {
  name: 'OilsList',

  components: { OilListItem },

  data () {
    return {
      filter: null,
      sorter: null
    }
  },

  computed: {
    ...mapGetters({
      oils: 'base/oils',
      fattyAcid: 'base/fattyAcid',
      fattyAcids: 'base/fattyAcids'
    }),

    itemsCount () {
      return Object.keys(this.filteredOils).length
    },

    filteredOils: function () {
      if (this.filter == null || this.filter === '') {
        return this.oils
      } else {
        const regexp = new RegExp(this.filter, 'i')
        return this.oils.filter(oil => {
          return oil.name.match(regexp) != null || oil.inci.match(regexp) != null
        })
      }
    },

    sortedOils: function () {
      return this.sorter === null ? this.filteredOils : this.filteredOils.slice().sort((a, b) => {
        return (a[this.sorter] - b[this.sorter]) * -1
      })
    }
  },

  methods: {

    bars (oil) {
      var res = []
      if (this.sorter) {
        res.push({
          value: oil[this.sorter],
          color: this.fattyAcid(this.sorter).color
        })
      }

      return this.fattyAcids.reduce((res, { name, color }) => {
        if (oil[name] > 0 && name !== this.sorter) {
          res.push({ value: oil[name], color: color })
        }

        return res
      }, res)
    }

  }
}
</script>
