<template>
  <q-item clickable v-ripple @click="$emit('click')">
    <q-item-section>
      <q-item-label>{{ this.receipe.name }}</q-item-label>
      <q-item-label class="row inline color-bar">
        <span
          v-for="({ value, color }, idx) in this.bars"
          :key="idx"
          :style="`flex-grow: ${value}; background-color: ${color}`"
          />
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ReceipeListItem',

  props: {
    receipe: Object
  },

  computed: {
    ...mapGetters({
      oil: 'base/oil',
      acids: 'base/fattyAcids'
    }),

    bars: function () {
      const composition = this.receipe.oils.reduce((acc, { oil, ratio }) => {
        const oilData = this.oil(oil)
        this.acids.forEach(({ name }) => {
          if (oilData[name] > 0) {
            acc[name] = acc[name] ? acc[name] + (oilData[name] * ratio) : (oilData[name] * ratio)
          }
        })

        return acc
      }, {})

      return this.acids.reduce((res, { name, color }) => {
        if (composition[name] > 0) {
          res.push({ value: composition[name], color: color })
        }

        return res
      }, [])
    }
  }

}
</script>
