<script>
import { generateChart } from 'vue-chartjs'
const CustomScatter = generateChart('custom-scatter', 'scatterWithErrorBars')

export default {
  name: 'SoapQualitiesChart',

  extends: CustomScatter,

  props: {
    composition: Object
  },

  computed: {
    qualities: function () {
      return [
        { name: 'hardness', min: 29, max: 54 },
        { name: 'cleansing', min: 12, max: 22 },
        { name: 'conditioning', min: 44, max: 69 },
        { name: 'bubbly', min: 14, max: 46 },
        { name: 'creamy', min: 16, max: 48 }
      ]
    },

    options: function () {
      return {
        animation: false,
        title: {
          display: true,
          text: this.$t('title')
        },
        legend: {
          display: false
        },
        elements: {
          pointWithErrorBar: {
            errorBarWhiskerSize: 10
          },
          point: {
            radius: 5
          }
        },
        tooltips: {
          callbacks: {
            label: (tooltipItem, data) => {
              return `${data.labels[tooltipItem.yLabel]}: ${Math.round(tooltipItem.xLabel)}`
            }
          }
        },
        scales: {
          xAxes: [{
            ticks: {
              min: 0,
              max: 100
            }
          }],
          yAxes: [{
            gridLines: {
              display: false
            },
            ticks: {
              max: this.qualities.length - 0.5,
              min: -0.5,
              stepSize: 1,

              callback: (value, index, values) => {
                if (Number.isInteger(value)) {
                  return this.$t(this.qualities[value].name)
                } else {
                  return null
                }
              }
            }
          }]
        },
        plugins: {
          'error-bars': {
            width: '60%',
            errorBarColor: 'red'
          }
        }
      }
    },

    chartData: function () {
      const { lauric, myristic, palmitic, stearic, ricinoleic, oleic, linoleic, linolenic } = this.composition

      const q = {
        hardness: lauric + myristic + palmitic + stearic,
        cleansing: lauric + myristic,
        conditioning: oleic + linoleic + linolenic + ricinoleic, // TODO add weight by acid
        bubbly: lauric + myristic, // TODO take ricinoleic presence as en enhancer
        creamy: palmitic + stearic // TODO take ricinoleic presence as en enhancer
      }

      const datasets = this.qualities.reduce((acc, quality, index) => {
        acc.push({ data: [{ x: q[quality.name], y: index, xMin: quality.min, xMax: quality.max }] })
        return acc
      }, [])

      return {
        labels: this.qualities.map(({ name }) => this.$t(name)),
        datasets: datasets
      }
    }
  },

  watch: {
    chartData () {
      this.renderChart(this.chartData, this.options)
    }
  },

  mounted () {
    this.renderChart(this.chartData, this.options)
  }

}
</script>

<i18n>
en:
  title: Qualities
  creamy: Creamy
  bubbly: Bubbly
  conditioning: Conditioning
  cleansing: Cleansing
  hardness: Hardness

fr:
  title: Qualités
  creamy: Crèmeux
  bubbly: Moussant
  conditioning: Douceur
  cleansing: Nettoyant
  hardness: Dureté
</i18n>
