<template functional>
  <q-btn flat round dense :icon="props.icon">
    <q-menu auto-close>
      <q-list>
        <slot></slot>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: () => 'more_vert'
    }
  }
}
</script>
