<template>
  <div id="q-app" style="height: 100vh">
    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      >

      <router-view v-if="initialized"/>
      <div v-else class="fit column items-center justify-center text-h3">
        <span>{{ $t('loadingMessage') }}</span>
        <q-spinner-infinity color="primary" size="2em" @click="initialized = true"/>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App',

  data () {
    return {
      initialized: false
    }
  },

  mounted () {
    this.$store.dispatch('base/initStore', key => this.$t(key)).then(() => {
      this.initialized = true
    })
  }
}
</script>

<i18n>
  en:
    loadingMessage: 'Loading data...'

  fr:
    loadingMessage: 'Chargement des données...'
</i18n>
